include includes/header.pug

block content  
    h1= title
    p Welcome to #{title}
    p How are you doing #{users}
    if user
        p I have a user
    else 
        p I don't have a user
    p #{user.age}
    a(href='/about' class="btn btn-primary") About Page
    div(class="container")
        .text-center
            div
                a(href='/courses' class="btn btn-primary") Click to view available courses
                div
                    a(href='/todolist' class="btn btn-dark mt-3") My To-Do List
            div
                a(href='ajo/landingpage' class="btn btn-dark mt-3") Visit AJO
